* {
    padding: 0%;
    margin: 0%
}

.parrafo {
    font-family: 'Quicksand',sans-serif;
}

.fijo {
    position: fixed;
    overflow: hidden;
    background-color: white;
    height: auto;
    width: 100%;
}
.logo {
    margin: 1%;
}

.navbar {
    background-color: rgb(21, 13, 63);
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 16px;
}
.navegador {
    text-decoration: none;
    margin: 0% 3%;
    color: white;
}
.navegador:hover {
    color: grey;
}

.bgimg {
    padding: 10% 8%;
    background-image: url('fotos/inicio2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.texto {
    background-color: rgb(21, 13, 63);
    margin-top: 9%;
    padding: 5%;
    color: white;
    height: 200px;
    width: 400px;
}
.boton {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 3%;
    font-size: 20px;
    text-align: center;
}
.boton:hover {
    color: grey;
}

.texto1 {
    padding: 6% 9%;
    font-size: 22px;
    text-align: center;
}

.agrupar {
    padding: 0% 10%;
}
.alado {
    display: flex;
}
.texto2 {
    background: black;
    color: white;
    height: 254px;
    width: auto;
    padding: 6%;
    font-size: 24px;
}

.historia {
    text-align: center;
    margin: 2% 15%;
    font-size: 24px;
}
.historia h1 {
    font-size: 45px;
    margin: 6% 0% 2% 0%;
}

.dire {
    margin: 2% 8%;
    font-size: 35px;
}
table {
    text-align: center;
    margin: 0% 8% 5% 8%;
    font-size: 20px;
    width: 84%;
}
.foto {
    border-radius: 50%;
}

footer {
    background-color: black;
    font-size: 16px;
    color: white;
    display: flex;
    padding: 4% 0%;
    height: auto;
    width: auto;
}
.espacio {
    margin: 0% 6%;
}

.texto3 {
    padding-top: 17%;
    padding-left: 28%;
    height: 180px;
    width: auto;
    font-size: 35px;
}

.fondo {
    background-color: rgb(21, 13, 63);
    padding: 5% 0%;
    height: 550px;
    width: auto;
}
.borde {
    border: 1px solid black;
    display: flex;
    margin: 1% 10% 5% 10%;
    background-color: white;
    height: auto;
    width: 1200px;
}
.textito {
    font-size: 21px;
    padding: 3%;
}
.comment {
    width: 70%;
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #5a5a5a;
    padding-left: 2%;
    font-size: 16px;
    color: #5a5a5a;
    margin-top: 30px;
}
.foto1 {
    align-content: center;
    padding-left: 10px;
}

.texto4 {
    padding: 8% 0% 25% 0%;
    height: 400px;
    width: auto;
}

.texto5 {
    text-align: center;
    padding: 14.5% 5% 0.5% 5%;
    height: 210px;
    width: auto;
    font-size: 24px;
}
.texto5.h1 {
    font-size: 35px;
}

.fondo1 {
    background-color: rgb(21, 13, 63);
    padding: 7% 10.5%;
    height: 480px;
    width: auto;
}
.alado {
    display: flex;
}
.texto6 {
    background: black;
    color: white;
    height: 304px;
    width: 204px;
    padding: 4%;
    font-size: 16px;
}
.fondo2 {
    margin-top: 3.8%;
    padding: 10.5%;
    width: auto;
}
.boton1 {
    text-decoration: none;
    background: rgb(31, 40, 84);
    color: white;
    padding: 3%;
    font-size: 20px;
    text-align: center;
}

.texto7 {
    text-align: center;
    padding: 0% 0% 7% 0%;
    width: auto;
    font-size: 28px;
}

.niveles {
    margin: 2% 8%;
    font-size: 35px;
}
table {
    text-align: center;
    margin: 0% 8% 5% 8%;
    font-size: 18px;
    width: 84%;
}
th h3 {
    font-size: 25px;
}
td img {
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #cfcfcf;
}
.izquierda {
    text-align: left;
}

.texto8 {
    text-align: center;
    padding-top: 15%;
    height: 150px;
    width: auto;
    font-size: 28px;
}
.texto8.h1 {
    font-size: 35px;
}

.agrupar1 {
    padding: 5% 10%;
}
.texto9 {
    background: black;
    color: white;
    height: 278px;
    width: auto;
    padding: 5%;
    font-size: 20px;
}