<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <title>Colegio Privado Príncipe de Paz - Institución</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body class="parrafo">
    <header class="fijo">
        <div class="logo">
            <center><a href="/"><img src="{{ url_for('static', filename='logo.jpeg') }}" height="75" width="200"></a></center>
        </div>
        <div class="navbar">
            <a href="/" class="navegador">Inicio</a>
            <a href="/noticias" class="navegador">Noticias</a>
            <a href="/institucion" class="navegador">Institución</a>
            <a href="/clubes" class="navegador">Clubes</a>
        </div>
    </header>
    <main>
        <div class="texto5">
            <h1>INSTITUCIÓN</h1>
            <p>En esta institución deseamos recuperar y mejorar la calidad de vidda del alumno/a, de su familia y a toda la comunidad a la que pertenece, a través de valores y principios basados en la palabra de Dios y de esta manera entregar a la sociedad personas útiles. </p> 
        </div>
        <div class="fondo1">
            <div class="alado">
                <div class="texto6">
                    <h1>Visión</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias soluta magni dignissimos ducimus enim iure excepturi porro. Eius sunt, itaque mollitia quas officia voluptatem, porro consectetur repellendus unde ut quasi.</p>
                    <br><br>
                    <a href="#" class="boton1">&nbsp;Más información&nbsp;</a>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='inicio3.jpeg') }}" height="400" width="300">
                </div>
                <div class="texto6">
                    <h1>Visión</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias soluta magni dignissimos ducimus enim iure excepturi porro. Eius sunt, itaque mollitia quas officia voluptatem, porro consectetur repellendus unde ut quasi.</p>
                    <br><br>
                    <a href="#" class="boton1">&nbsp;Más información&nbsp;</a>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='inicio3.jpeg') }}" height="400" width="300">
                </div>
            </div>
            <div class="alado">
                <div>
                    <img src="{{ url_for('static', filename='inicio1.jpeg') }}" height="400" width="300">
                </div>
                <div class="texto6">
                    <h1>Misión</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque non nobis totam maiores culpa incidunt harum, ullam magnam facilis, iste optio, quod voluptas esse eos reiciendis sapiente! Illo, ullam architecto!</p>
                    <br><br>
                    <a href="#" class="boton1">&nbsp;Más información&nbsp;</a>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='inicio1.jpeg') }}" height="400" width="300">
                </div>
                <div class="texto6">
                    <h1>Misión</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque non nobis totam maiores culpa incidunt harum, ullam magnam facilis, iste optio, quod voluptas esse eos reiciendis sapiente! Illo, ullam architecto!</p>
                    <br><br>
                    <a href="#" class="boton1">&nbsp;Más información&nbsp;</a>
                </div>
            </div>
        </div>
        <div class="fondo2">
            <div class="alado">
                <div class="texto6">
                    <h1>Visión</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias soluta magni dignissimos ducimus enim iure excepturi porro. Eius sunt, itaque mollitia quas officia voluptatem, porro consectetur repellendus unde ut quasi.</p>
                    <br><br>
                    <a href="#" class="boton1">&nbsp;Más información&nbsp;</a>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='inicio3.jpeg') }}" height="400" width="300">
                </div>
                <div class="texto6">
                    <h1>Visión</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias soluta magni dignissimos ducimus enim iure excepturi porro. Eius sunt, itaque mollitia quas officia voluptatem, porro consectetur repellendus unde ut quasi.</p>
                    <br><br>
                    <a href="#" class="boton1">&nbsp;Más información&nbsp;</a>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='inicio3.jpeg') }}" height="400" width="300">
                </div>
            </div>
            <br>
        </div>
        <div class="texto7">
            <h1>DIRECTORIO</h1>
            <p>Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. </p> 
            <p>Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente.</p>
        </div>
        <div>
            <h2 class="niveles">Directores</h2>
            <table>
                <tr>
                    <td><img src="{{ url_for('static', filename='dire.jpg') }}" height="220" width="200"></td>
                    <td><img src="{{ url_for('static', filename='director.jpg') }}" height="220" width="200"></td>
                    <td><img src="{{ url_for('static', filename='directora.jpg') }}" height="220" width="200"></td>
                </tr>
                <tr>
                    <th><h3>Orlando Wiens</h3></th>
                    <th><h3>Robert Wiens</h3></th>
                    <th><h3>Carmen Ruiz Díaz</h3></th>
                </tr>
                <tr>
                    <td><b>Edad: </b>55</td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                </tr>
                <tr>
                    <td><b>Dire. Administrativo</b></td>
                    <td><b>Dire. General</b></td>
                    <td><b>Dire. Académica</b></td>
                </tr>
            </table>
            <h2 class="niveles">Nivel Inicial</h2>
            <table>
                <tr>
                    <td><img src="{{ url_for('static', filename='0-1.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='0-2.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='0-3.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='0-4.jpg') }}" height="200" width="190"></td>
                </tr>
                <tr>
                    <th><h3>Giulianna Bordessolle</h3></th>
                    <th><h3>Luisa Oberholz</h3></th>
                    <th><h3>Elisa Torres</h3></th>
                    <th><h3>Paula Cremer</h3></th>
                </tr>
                <tr>
                    <td><b>Edad: </b>55</td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                </tr>
                <tr>
                    <td><b>Grado: </b>Jardín</td>
                    <td><b>Grado: </b>Jardín (Ayudante)</td>
                    <td><b>Grado: </b>Pre - escolar</td>
                    <td><b>Grado: </b>Pre - escolar (Ayudante)</td>
                </tr>
            </table>
            <h2 class="niveles">Nivel Primario y Secundario ( 1 ~ 6 )</h2>
            <table>
                <tr>
                    <td><img src="{{ url_for('static', filename='1.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='1ayu.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='2.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='4.jpg') }}" height="200" width="190"></td>
                </tr>
                <tr>
                    <th><h3>Karina Rosa</h3></th>
                    <th><h3>Belén Rolón</h3></th>
                    <th><h3>Sonia Maldonado</h3></th>
                    <th><h3>Romy Ayala</h3></th>
                    <th><h3>Patricia Esteche</h3></th>
                </tr>
                <tr>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                </tr>
                <tr>
                    <td><b>Grado: </b>1°</td>
                    <td><b>Grado: </b>1° (Ayudante)</td>
                    <td><b>Grado: </b>2°</td>
                    <td><b>Grado: </b>3°</td>
                    <td><b>Grado: </b>4°</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><img src="{{ url_for('static', filename='5.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='6.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-1.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-2.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='1-1.jpg') }}" height="200" width="190"></td>
                </tr>
                <tr>
                    <th><h3>Cristina Encina</h3></th>
                    <th><h3>Mirian Ramírez</h3></th>
                    <th><h3>Ana Alvarenga</h3></th>
                    <th><h3>Fiorella Avalos</h3></th>
                    <th><h3>Eliane Dück</h3></th>
                </tr>
                <tr>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td class="izquierda"><b>Edad: </b></td>
                    <td class="izquierda"><b>Edad: </b></td>
                    <td class="izquierda"><b>Edad: </b></td>
                </tr>
                <tr>
                    <td><b>Grado: </b>5°</td>
                    <td><b>Grado: </b>6°</td>
                    <td class="izquierda"><b>Asignatura: </b></td>
                    <td class="izquierda"><b>Asignatura: </b></td>
                    <td class="izquierda"><b>Asignatura: </b></td>
                </tr>
                <tr class="izquierda">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>- Danza</td>
                    <td>- Música</td>
                    <td>- Coro</td>
                </tr>
                <tr class="izquierda">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>- Teatro</td>
                    <td>&nbsp;</td>
                    <td>- Guitarra</td>
                </tr>
                <tr class="izquierda">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>- Ed. Cristiana</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><img src="{{ url_for('static', filename='1-2.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-10.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='1-3.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-12.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-13.jpg') }}" height="200" width="190"></td>
                </tr>
                <tr>
                    <th><h3>Sandra Castillo</h3></th>
                    <th><h3>Derlis Espínola</h3></th>
                    <th><h3>Derlis Santacruz</h3></th>
                    <th><h3>Marcos Riveros</h3></th>
                    <th><h3>Silvio Torres</h3></th>
                </tr>
                <tr class="izquierda">
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                </tr>
                <tr class="izquierda">
                    <td><b>Asignatura: </b></td>
                    <td><b>Asignatura: </b></td>
                    <td><b>Asignatura: </b></td>
                    <td><b>Asignatura: </b></td>
                    <td><b>Asignatura: </b></td>
                </tr>
                <tr class="izquierda">
                    <td>- Inglés</td>
                    <td>- Ed. Física</td>
                    <td>- Fútbol</td>
                    <td>- Robótica</td>
                    <td>- Informática</td>
                </tr>
            </table>
            <h2 class="niveles">Nivel Terciario y Nivel Medio ( 9 ~ 12 )</h2>
            <table>
                <tr>
                    <td><img src="{{ url_for('static', filename='3-1.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-2.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-3.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-4.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-5.jpg') }}" height="200" width="190"></td>
                </tr>
                <tr>
                    <th><h3>Ana Alvarenga</h3></th>
                    <th><h3>Fiorella Avalos</h3></th>
                    <th><h3>Jahzeel Chajud</h3></th>
                    <th><h3>Elva Almirón</h3></th>
                    <th><h3>Nancy Sanabria</h3></th>
                </tr>
                <tr class="izquierda">
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                </tr>
                <tr class="izquierda">
                    <td><b>Asignatura: </b></td>
                    <td><b>Asignatura: </b></td>
                    <td><b>Asignatura: </b></td>
                    <td><b>Asignatura: </b></td>
                    <td><b>Asignatura: </b></td>
                </tr>
                <tr class="izquierda">
                    <td>- Danza</td>
                    <td>- Música</td>
                    <td>- Matemática</td>
                    <td>- Inglés</td>
                    <td>- Guaraní</td>
                </tr>
                <tr class="izquierda">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>- Consejo</td>
                    <td>- Antropología</td>
                </tr>
                <tr class="izquierda">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>- Proyecto</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="izquierda">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>- Literatura</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><img src="{{ url_for('static', filename='3-6.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-7.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-8.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-9.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-10.jpg') }}" height="200" width="190"></td>
                </tr>
                <tr>
                    <th><h3>María Esther Cano</h3></th>
                    <th><h3>Lorena Medina</h3></th>
                    <th><h3>Lilian Acosta</h3></th>
                    <th><h3>Jair Mancuello</h3></th>
                    <th><h3>Derlis Espinola</h3></th>
                </tr>
                <tr class="izquierda">
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                </tr>
                <tr class="izquierda">
                    <td><b>Asignatura: </b></td>
                    <td><b>Asignatura: </b></td>
                    <td><b>Asignatura: </b></td>
                    <td><b>Asignatura: </b></td>
                    <td><b>Asignatura: </b></td>
                </tr>
                <tr class="izquierda">
                    <td>- Vial</td>
                    <td>- Estadística</td>
                    <td>- Ética</td>
                    <td>- Ética</td>
                    <td>- Ed. Física</td>
                </tr>
                <tr class="izquierda">
                    <td>- Historia</td>
                    <td>- Matemática</td>
                    <td>- Salud</td>
                    <td>- Artes</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="izquierda">
                    <td>- Consejo</td>
                    <td>- Ed. Cristiana</td>
                    <td>- Filosofía</td>
                    <td>- Política</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="izquierda">
                    <td>- Ciencias Seguridad</td>
                    <td>&nbsp;</td>
                    <td>- Proyecto</td>
                    <td>- Sociología</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="izquierda">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>- Psicología</td>
                    <td>- Economía</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="izquierda">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>- Trabajo y Tecnol.</td>
                    <td>- Orientación</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="izquierda">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>- Dibujo técnico...</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><img src="{{ url_for('static', filename='3-11.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-12.jpg') }}" height="200" width="190"></td>
                    <td><img src="{{ url_for('static', filename='3-13.jpg') }}" height="200" width="190"></td>
                </tr>
                <tr>
                    <th><h3>Eduardo Leguizamón</h3></th>
                    <th><h3>Marcos Riveros</h3></th>
                    <th><h3>Silvio Torres</h3></th>
                </tr>
                <tr class="izquierda">
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                    <td><b>Edad: </b></td>
                </tr>
                <tr class="izquierda">
                    <td><b>Asignatura: </b></td>
                    <td><b>Asignatura: </b></td>
                    <td><b>Asignatura: </b></td>
                </tr>
                <tr class="izquierda">
                    <td>- Física</td>
                    <td>- Software</td>
                    <td>- Software</td>
                </tr>
                <tr class="izquierda">
                    <td>- Química</td>
                    <td>- Laboratorio</td>
                    <td>- Hardware</td>
                </tr>
                <tr class="izquierda">
                    <td>- Matemática</td>
                    <td>- Plan Optativo</td>
                    <td>- Algorítmica</td>
                </tr>
                <tr class="izquierda">
                    <td>- Plan Optativo</td>
                    <td>&nbsp;</td>
                    <td>- Informática</td>
                </tr>
                <tr class="izquierda">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>- Laboratorio</td>
                </tr>
                <tr class="izquierda">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>- Mat. Aplicada</td>
                </tr>
            </table>
        </div><br><br>
    </main>
    <footer>
        <div class="espacio">
            <img src="{{ url_for('static', filename='logo.png') }}" height="75" width="200">
        </div>
        <div class="espacio">
            <p><b>NAVEGACIÓN RÁPIDA</b></p><br>
            <a href="/" class="navegador">Inicio</a>
            <a href="/noticias" class="navegador">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Noticias</a><br><br>
            <a href="/institucion" class="navegador">Institución</a>
            <a href="/clubes" class="navegador">Clubes</a><br><br>
        </div>
        <div class="espacio">
            <p><b>CONÉCTATE</b></p><br>
            <p><a href="https://www.facebook.com/principedepazluque/" class="navegador">Facebook</a></p><br>
            <p><a href="https://www.instagram.com/principedepazluque/" class="navegador">Instagram</a></p><br>
        </div>
        <div class="espacio">
            <p><b>CONTÁCTANOS</b></p><br>
            <p>Capitan Insfran, Luque, Paraguay</p><br>
            <p><b>Tel:</b> +595 983 970530</p><br>
            <p><a href=".html" class="navegador">principedepaz@gmail.com</a></p><br>
        </div>
    </footer>
</body>
</html>